$primary-color: #ffab00;
$text-color: #064159;
$white-text: #efe9d8;
$bold-textcolor:#4e1c07;
//text/background-colors//
$font-stack: 'Lato', sans-serif;
$droid-font: 'Droid Serif', serif;
//font-styles//
$tech-weight:100;
$lancaster-weight:900;
$text-align-left:left;
//font-weight//
