body {
  width: 100%;
}
  .maincontainer {
    height: 923px;
    width: 100%;
  }
.s1 {
  width: 100%;
  height: 450px;
	background-color: $primary-color;
  opacity: 0.9;
  mix-blend-mode: multiply;
  padding-top: 30px;
}
.Techlancaster {
	font-family: $droid-font;
  font-weight: 700;
	font-size: 15px;
	line-height: 1.6;
	letter-spacing: 0.7px;
  padding-left: 27px;
  color:  #021d2c;
}
.Strived {
  margin: 30px 33px 0px 27px;
}
.Past {
  margin: 30px 33px 0px 27px;
}
.div1 {
  width: 99%;
	height: 1px;
	background-color: #ee3e28;
  margin: 45px 8px 45px 10px;
}
