header {
  padding-top: 20px;
  width:100% ;
  height: 38px;
  background-color:$primary-color;
  a {
    word-spacing: -33px;
    text-decoration: none;
    width: 100%;
    height: 15px;
    font-family:$font-stack;
    font-size: 21px;
    line-height: 1.29;
    letter-spacing: 2.1px;
    color: $text-color;
    margin: 21px 0px 0px 24px;
  }
}
    .tech {
      font-weight:$tech-weight;
    }
      .lancaster {
        font-weight:$lancaster-weight;
        }
        .image {
        background-image:url("../images/background.jpg");
        width: 100%;
        height: 360px;
        background-size: 500px 0px 0px 0px;

        }
        .header1 {
          color: $white-text;
          width: 244px;
        	height: 153px;
        	font-family: $font-stack;
        	font-size:36px;
        	font-weight: $lancaster-weight;
        	line-height: 1.17;
        	letter-spacing: 1.8px;
        	text-align: left;
          margin: 0px 153px 0px 27px;
          padding: 60px 30% 30px 10px;
        }
