@media screen and (max-width: 775px) and (min-width:480px){

  header {
    width: 100%;
    display: flex;
  }
  .tech {
    margin-left: 30%;
    display: flex;
  }
  .lancaster {
    margin-right: 70%;
    display: flex;
  }
  .comcontainer {
    width: 98%;
    display: inline-flex;
    margin-left: -320px;
    margin-right: 2%;
    padding-right: 4px;
  }
  .main-container {
    display: inline-flex;
    margin-left: 10px;
  }
}
